@import '../../variables.scss';

#about-me {
    margin-left: 50%;
    margin-top: $margin-extra-large * 3/2;
    margin-bottom: $margin-extra-large;
    transform: translateX(-50%);
    .about-me-title {
        color: $color-grey-dark;
        font-size: 3rem;
        font-weight: 200;
        text-transform: uppercase;
        margin-bottom: $margin-large;
        &.top-margin { margin-top: $margin-extra-large; }
        b { font-size: 3rem; }
    }
    .about-me-background-logo {
        position: fixed;
        transform: translate(40%, -120%);
        z-index: -2;
        width: 80vw;
        opacity: 12%;
    }
}
