@import '../../variables.scss';

.project_card_container {
  display: flex;
  position: relative;
  .project_card_photo, .project_card_info_container {
    width: 267px;
    height: 267px;
    box-shadow: $box-shadow;
  }
  .project_card_photo { z-index: 2;}
}
  
  
.project_card_info_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $color-grey-lightest;
  .info_item { padding-bottom: 8px; }
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  h2 {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
  }
  p { line-height: 24px; }
  .project_card_tools_container {
    display: flex;
    align-items: flex-start;
    h3 { font-weight: 600; }
    svg {
      margin-left: 8px;
      width: 24px;
      height: 24px;
      fill: $color-grey-dark;
    }
  }
  .project_card_button_container {
    display: flex;
    margin-top: auto;
    justify-content: space-around;
  }
}