@import '../../variables.scss';

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: ($margin-large);
}

// -------------- PHONE --------------
@media (max-width: $phone) {  
    .section-grid {
        grid-template-columns: 1fr;
    }
}

// -------------- RETINA DISPLAY --------------
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: $desktop) { 
    .section-grid {
        grid-gap: ($margin-medium);
    }
}