// This file hold the scss values and media queries


// COLORS
$color-primary: #E72339;
$color-secondary: #E78523;
$color-grey-dark: #3B3B3B;
$color-grey-medium: #989898;
$color-grey-light: #D3D3D3;
$color-grey-lightest: #F8F8F8;

// MARGINS & PADDINGS
$margin-extra-large: 144px;
$margin-large: 48px;
$margin-medium: 24px;
$margin-small: 12px;
$margin-extra-small: 4px;